# --- PostgreSQL ---
POSTGRES_DB=teamhub_db
POSTGRES_USER=
POSTGRES_PASSWORD=

# --- Django ---
SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1,backend
CORS_ALLOW_ALL_ORIGINS=false

# --- MinIO (S3-compatible storage) ---
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
AWS_STORAGE_BUCKET_NAME=teamhub-media
AWS_S3_CUSTOM_DOMAIN=localhost:9000/teamhub-media

# --- Grafana ---
GRAFANA_ADMIN_PASSWORD=

# --- Frontend ---
VITE_DESKTOP_WIN_URL=http://localhost:9000/teamhub-releases/TeamHub-Setup.exe

# --- Docker Hub (для Watchtower та CI/CD) ---
DOCKERHUB_USERNAME=

# --- DB Backup ---
BACKUP_SCHEDULE=@daily
